.list-category{
  font-size: 2.5em;
  font-weight: bold;
  color: rgb(163, 79, 40);
  margin-bottom: 10px;
  text-align: center;
  border: 3px solid ;
  border-radius: 5px;
  background-color: antiquewhite;
}

.list-items{
  font-size: 2em;
  list-style: none;
  color: rgb(163, 79, 40) ;
  text-align: center;
  margin: 0; 
}

.list-items li:hover{
  border: soild 3px rgb(163, 79, 40);
  background-color: antiquewhite;
}